

<div style="clear:both"></div>
<div id="main_round_box" style='background-color:#fff'>

  <h1 class='darker_txt'>Sample Website Review</h1>

  <div id='sample_report'  style='text-align:left; padding: 45px 40px 40px 116px '>
    <span class='dark_green_title'>REVIEW DATE:</span> October 4th 2013
    <br />
    <span class='light_green_title'>EXPERT REVIEWER:</span> Robin Mather
    <br />
    <span class='dark_green_title'>REVIEW WEBSITE:</span> <%=link_to 'www.webtemplate.com.au', 'http://www.webtemplate.com.au', :target=>'_blank', :class=>'green_links'%>
    <br />
    <div style='float:left; width:780px; padding:10px 10px 80px 0'>
      <h3>FIRST IMPRESSIONS</h3>
      The site is too visually busy.
      <br /><br />
      Trim down the content on the landing page. 
      <br /><br />
      It took me too long to process all of the information, and hence too long for me to work out what the site is about.
      <h3>BACKGROUND</h3>
      Reduce the 'noise' by
      <ul>
        <li>Replacing the background image to something more subtle, with less happening in it.</li>
        <li>Increase the opacity of the content holder background, so the eye isn't distracted by the background.</li>
      </ul>


      <h3>FORMS </h3>
        The forms are clunky and look basic.
      <ul>
        <li>Increase the line height to 20px</li>
        <li>Add 4px border radius to soften them </li>
        <li>Place descriptions in the fields using HTML 5 'placeholder' attribute (see the form here <%=link_to 'https://www.mint.com', 'https://www.mint.com/', :target=>'_blank', :class=>'green_links'%>)</li>
      </ul>
  
      <h3>FLASH</h3>
      Remove the laptop image &amp; flash animation. It looks dated.
  
      <h3>LOGO</h3>
      Move the logo to the top (used a reduced size). Where it is at the moment is hard to find . bad for branding.

      <h3>CONTENT/MENUS</h3>
      Re-think the pages necessary for your site. For example I don't think you need all of the sub categories for each menu item. For example 'Power to Publish' has six sub categories with information that could be placed on one page, this is a more modern way to show content as it reduces the number of clicks a user has to make and improves load times.

      <h3>PALETTE</h3>
      The palette looks dated. If you're married to the green and orange, you could try updating the tones to #2D5544 &amp; #E89823
    
      <h3>LOGIN FORM</h3>
      Hide the login panel using jquery - something like this would work: <%=link_to 'http://web-kreation.com/demos/Sliding_login_panel_jquery/', 'http://web-kreation.com/demos/Sliding_login_panel_jquery/', :class=>'green_links', :target=>'_blank'%>

      <h3>CLOSING COMMENTS</h3>
Most clients are generally pretty confused about what a CMS is and don't know what they need. 
The design of your site should offer clarity and clearly display what it is you provide and how you can help them. 

      <h3>REFERENCES</h3>
      <%=link_to 'http://www.ilcreations.net/','http://www.ilcreations.net/', :class=>'green_links', :target=>'_blank'%>
      <ul>
        <li>notice how the landing page is clutter free, it clearly states what they do</li>
      </ul>
      <br />
      <%=link_to 'https://www.pipelinedeals.com/','https://www.pipelinedeals.com/', :class=>'green_links', :target=>'_blank'%>
      <ul>
        <li>a huge amount of information cleanly laid out to avoid confusion</li>
        <li>quick contact us link in the header and a sticky contact us form in the footer</li>
      </ul>

    </div>
    <div style='float:left; width:230px; padding:10px; text-align:right'>
      <h3>FILES</h3>
        <%=link_to image_tag('download_pdf.png',:size=>'50x50')+raw("<br />Download"), '/assets/sample_reports/Input Farm Report - webtemplate.com.au - robin mather - 4 Oct 2013.pdf', :class=>'green_links text_13px', :target=>'_blank'%> 
      <br />
      <br /><br />
      <%=link_to image_tag('sample_reports/3_a_thumb.jpg',:title=>"Input Farm sample report",:alt=>"Input Farm: www.webtemplate.com.au"),"/assets/sample_reports/3_a.jpg",{:rel=>"prettyPhoto[gallery1]",:title=>"Marked up screenshot"} %>
      
    </div>
  </div>
  <div style="clear:both"></div>
</div>
