<h1>Expert Sign Up</h1>

<%=form_tag '/expert/create', multipart: true do %>
  <table>
  <tr><td>Name:</td> <td><%= text_field_tag :name,nil,:size=>60 %></td></tr>
   <tr><td>Email:</td><td> <%= text_field_tag :email, nil, :size=>60%></td></tr>
   <tr><td>Links:</td><td> <%= text_area_tag :links, nil, :rows=>5, :cols=>60 %></td></tr>
   <tr><td>Profile [50 words]:</td><td> <%= text_area_tag :profile ,nil, :rows=>12, :cols=>60%></td></tr>
   <tr><td>Other Info:</td><td> <%= text_area_tag :info ,nil, :rows=>12, :cols=>60%></td></tr>
   <tr><td>Profile Pic:</td> <td><%= file_field_tag :pic %></td></tr>
   <tr><td><%=submit_tag :save%></td></tr>
  </table>
<%end%>

