<h1>Expert SignUp</h1>

<%=form_tag '/expert/create' do %>
  <p>Name: <%=text_field_tag :name,nil,:size=>60 %></p>
  <p>Email: <%=text_field_tag :email, nil, :size=>60%></p>
  <p>Portfolio URL: <%=text_field_tag :url, nil, :size=>60 %></p>
  <p>Other Info: <%=text_area_tag :info ,nil, :rows=>20, :cols=>60%></p>
  <p><%=submit_tag :save%></p>
<%end%>


