<h4>Adrian Mole</h4>

21 reviews <br />
32 hour avg. response time <br />
<br /><br />

I am a graphic designer is the website and work of graphic designer Steven Morriss. Working within the field of visual communication for both print and screen across a diverse range of media style that transcends popular trends of graphic design: including corporate identity, advertising, music packaging, typography, art direction, motion graphics and website design.


<br />
<h5>Recent work</h5> 

<div style="float:left;padding-right:10px;text-align:center">
  <%=image_tag  'portfolio1.jpg', :size=>'70x70' %>
  <br />
  <%=link_to '[link]', 'http://www.google.com', :target=>'_blank', :class=>'green_links small_text'%> <br />
</div>
<div style="float:left;padding-right:10px;text-align:center">
  <%=image_tag  'portfolio2.jpg', :size=>'70x70' %>
  <br />
  <%=link_to '[link]', 'http://www.google.com', :target=>'_blank', :class=>'green_links small_text'%> <br />
</div>
<div style="float:left;padding-right:10px;text-align:center">
  <%=image_tag  'portfolio3.jpg', :size=>'70x70' %>
  <br />
  <%=link_to '[link]', 'http://www.google.com', :target=>'_blank', :class=>'green_links small_text'%> <br />
</div>
<div class='clear'></div>
<br />
<br />
<%=link_to raw('&raquo; view full profile'), "/expert/1/jonny_rotten", :class=>'green_links' %>

