<script>
  var randy = 0;
  setTimeout(function(){randy = rotate(randy);},500);
  setInterval(function(){randy = rotate(randy);},20000);
</script>

<div style="clear:both"></div>
<div id="main_round_box">
<div id='big_image_div' >
  <div class="row_fluid">
    <%#=image_tag "let-our-experts.png", :class=>"expertbg"%>
    <div id='top_text_and_button'>
      <div id='top_text'>
        <!--Our web experts will give<br />
        you an honest appraisal of your website<br />
        along with the quickest and easiest ways to improve it. -->
        <!--Have some of the <br />
        best designers on the web<br />
        tell you how you can improve your site -->
        Make your website better, faster
      </div>
      <a href='#how_it_works' id='use_button_wrapper' class='smoothScroll'>
        <span id="use_button">
          <%#=link_to image_tag("use-button.png"), "#contact", :class=>'smoothScroll'%>
          <strong>USE INPUTFARM TODAY</strong>
        </span>
      </a>
    </div>
  </div>
</div>

<div style="clear:both"></div>


<!--
<div id="our_experts" style="overflow:hidden">
  <h1 class='title center'>OUR EXPERTS</h1>
  <div id="left_expert">
    <%=image_tag "expert.png"%>
  </div>
  <div id="right_expert">
    <div id="profile">
      <h2>ROBIN MATHER</h2>
      This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.  
    </div>
    <div id="clients">
      <h3 class="title">CLIENTS</h3>
      carsales.com.au<br>
      digg.com 
    </div>
    <div id="specialties">
      <h3 class="title">SPECIALTIES</h3>
      UX design
      Colours<br>
      Computers<br>
    </div>
    <div style="clear:both"></div>
  </div>
  <div id="more_experts" style='position:absolute;top:1340px;left:730px'>
    <span id='expert_left'><-</span>  MORE EXPERTS   <span id='expert_right'>-></span>
  </div>
  <div style="clear:both;"></div>
  <div id="signup">
    <div style="float:left;width:470px;">
      <p>Think you've got what it takes to be an expert ? <br>
      Hit the link & we'll sign you up. </p> 
    </div>
    <div style="float:right;width:470px;margin-left:0px;">
      <%=link_to image_tag("signup-as-expert.png"), "#contact"%>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>  -->

<div id="what_is_this" class="smoothScroll" style='background-color: #fff;'>
  <div class="row_fluid" style="text-align:center;color:#767676;background-image:url('/assets/half_screenshot.png');background-repeat:no-repeat;background-position:left bottom;background-size:520px">
    <div style='width:50%;padding-top:210px;float:left'>
      <%#=image_tag 'half_screenshot.png',:width=>'500px' %>
    </div>
    <div style='float:left; width:50%;text-align:left'>
      <h1 class='title'>Get feedback, fast.</h1>
<!--
      <p>Input Farm gives you access to expert designers who review your site for 30 minutes looking for ways you can make it better.</p>
      <br />
      <p>For <span style='color:#5BA93D'>$75</span>, you will receive practical suggestions to improve your site within 48 hours. No up-sell, no meetings, no quotes. Genuine, vetted, experts.</p>
-->
      <p>Inputfarm is a new way to get <strong>feedback</strong>.</p>
      <p>We focus on iteration rather than redesign.</p>
      <p>We connect you to great designers who review your site and give you feedback.</p>
      <p>For $75, you will receive practical suggestions to improve your site within 48 hours directly from design experts. </p>
      <p>No up-sell, no admin, no meetings, no quotes. Just really fast expert feedback. </p>
      <p>It's the most cost effective way to improve your website.</p>
      <!--
      <p>Websites that are constantly updated look fresher </p>
      <p>Creating a fantastic website is about constant improvement </p>
      <p>Input Farm gives you access to expert designers who review your site for 30 minutes looking for ways you can make it better </p>
      <p>For $75, you will receive practical suggestions to improve your site within 48 hours. No up-sell, no meetings, no quotes. </p>
      <p>Try it now, if you're unhappy with the review, your money back! </p> 
      -->
    </div>
    <div class='clear'></div>
  </div>
</div>
    <div class='clear'></div>
<div id="how_it_works" class="smoothScroll" style='width:100%;'>
  <a name='howitworks'></a>
  <div class="row_fluid" >
    <h1 class='title'>How it works</h1>
    <br />
    <div id='xsteps_wrapper'>
      <div class='steps'>
        <div class='preview' >
          <div class='xarrow_box'>
            <div class="site_design">
              <%= text_field_tag :email, "Email",{:class=>"field "} %>
            </div>
            <br />
            <div id='site_url' class="site_design">
              <%= text_field_tag :url, "Site URL",{:class=>"field"} %>
              <br />
              <p class='hand' style='font-size:0.8em' onclick="$('#site_url').hide();$('#site_upload_image').fadeIn()">[or upload jpg/png file instead]</p>
            </div>

            <div id='site_upload_image' class='site_design' style="display:none">
              <%= file_field_tag :upload, multiple: true,name: "upload[]", class: "field", style: "padding-top:10px;height:30px" %>
              <br />
              <p class='hand' style='font-size:0.8em' onclick="$('#site_upload_image').hide();$('#site_url').fadeIn()">[or enter a URL instead]</p>
            </div>
          </div>
          <div class='howitworks_text'>Give us some details</div>
        </div>
      </div>
      <div class='steps' > 
        <div class='preview'>
          <div class='xarrow_box' style='text-align:left'>
            <!--<span style='width:80px;float:left;color:#ddf8c6'>
              Select<br /> Expert
            </span>
-->
            <div class='experts bwWrapper personPopupTrigger' rel="4218,a17bee64-8593-436e-a2f8-599a626370df" id='expert1'>
              <%=image_tag "circle_expert1.png", :size=>'100x103'%> 
            </div> 
            <div class='experts bwWrapper personPopupTrigger' rel="4218,a17bee64-8593-436e-a2f8-599a626370df" id='expert2'>
              <%=image_tag "circle_expert2.png", :size=>'100x100'%> 
            </div> 
            <div class='experts bwWrapper personPopupTrigger' rel="4218,a17bee64-8593-436e-a2f8-599a626370df" id='expert3'>
              <%=image_tag "circle_expert3.png", :size=>'100x103'%> 
            </div> 
<!--
            <div style='clear:both'></div>
            <br />

            <span style='width:80px; float:left;color:#ddf8c6'>
              Feedback <br /> format 
            </span>
            <div class='format'>
              <%=image_tag "microphone.png", :size=>'35x35'%> 
              <br />
              Audio 
            </div> 
            <div class='format'>
              <%=image_tag "clipboard.png", :size=>'35x35'%>   
              <br />
              Image
            </div> 
            <div class='format'>
              <%=image_tag "camera.png", :size=>'35x35'%> 
              <br />
              Video
            </div> 
-->
          </div> 
        </div>
        <div style='clear:both'></div>
        <div class='howitworks_text'>Choose your expert designer </div>
      </div>
      <div class='steps' style='margin-left:10px'> 
        <div class='preview'>
          <div id='submit_wrapper'>
            <a href="#submit_form" class="button" rel="prettyPhoto">SUBMIT</a>
          </div>
        </div>
        <div style='clear:both'></div>
        <div class='howitworks_text'>Receive feedback in 48 hours!</div>
      </div>
    </div>
  </div>
  <div style='clear:both'></div>
</div>

<div id="why_and_how">
  <div class="row_fluid">
    <h1 class='title'>Questions?</h1>
    <div id="left_why">
    <p id='qa_q_why' class='qa_questions qa_q_selected'>WHY SHOULD I DO THIS?</P>
    <p id='qa_q_webdesigncompany' class='qa_questions'>WHY NOT USE A WEB DESIGN COMPANY?</P>
    <p id='qa_q_howlong' class='qa_questions'>HOW LONG DOES IT TAKE?</P>
    <p id='qa_q_howmuch' class='qa_questions'>HOW MUCH DOES IT COST?</P>
    <p id='qa_q_whatdoiget' class='qa_questions'>WHAT DO I GET FOR MY MONEY?</P>
    <p id='qa_q_dontlike' class='qa_questions'>WHAT IF I DON'T LIKE WHAT THEY DO?</P>
    </div>
    <div id='right_why'>
      <div id='qa_why' class='qa_answers' style='display:block'>
      As designers we've seen website owners get 'tired' of their perfectly good websites much too often, 
      deciding to do a full re-design that is both costly and time consuming. Get an objective opinion
      about whether your site really needs a full re-design, or whether a few tweaks will get the job done.
      </div>
      <div id='qa_webdesigncompany' class='qa_answers'> 
      Asking a web design company if you need a new website is like asking a hairdresser if you need a 
      haircut - the answer is always yes! 
      <br /><br />
      InputFarm's experts are not looking to sell you a site re-design (in fact they'll never try to sell
      you further paid services). Instead they'll look for the 'low hanging fruit' - how to make your site
      better with the least amount of effort. Once you receive the review you can either make the changes
      yourself or get your designer to do it for you.
      </div>
      <div id='qa_howlong' class='qa_answers'>
      No more than 72 hours.
      </div> 
      <div id='qa_howmuch' class='qa_answers'>
      <strong>$75</strong><br />
      <p>
      But good designers often charge 2-3x this amount, how does that work? <br /><br />
      InputFarm removes all the extraneous work that a designer would ordinarily have to do - quotes,
      client meetings, client communications and reports. This 'unbillable' work turns up as
      a higher hourly rate.
      <br /><br />
      By removing all this extra work they can provide this service at a very reasonable rate.
      </div>

      <div id='qa_whatdoiget' class='qa_answers'>
      Your site will be reviewed by an expert for 30 minutes and they give you a report
      containing:
      <ul style='padding-left:20px'>
        <li>Annotated markup of your site</li>
        <li>What they think is good about your site</li>
        <li>What could be improved and how</li>
        <li>The first 3 things they would do if they were working on it</li>
      </ul>
      <br />
      See a sample report now!
      </div>
    
      <div id='qa_dontlike' class='qa_answers'>
        A money back guarantee is offered if you don't think you received value from Input Farm.
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>

<div id="contact">
  <h1 class="title">Contact</h1>

  <%= form_tag("/front/contact", method: "post", :multipart => true) do %>
    <p>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= radio_button_tag 'classification', "helper", true%> I'm an expert, sign me up!   
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= radio_button_tag 'classification', "general"%> Contact
    </p>
    <div id="fieldss">
      <div class="row_fluid">
        <p><%= text_field_tag :name, "Name",{:class=>"field "} %></p>
        <p><%= text_field_tag :email, "Email",{:class=>"field "} %></p>
        </div>
      </div>
      <div class="row_fluid">
        <div style='margin: 0 auto;padding-top:10px'>
          <div style='display:inline-block;padding:15px'>
            <%= text_area_tag :message, "A link to your portfolio and anything else we need to know",{:class=>"field area area-mragin classification_helper_field contact_form_field"} %>
            <%# text_area_tag :message, "Other things we need to know",{:class=>"field area area-mragin classification_helpee_field contact_form_field"} %>
            <%= text_area_tag :message, "Message",{:class=>"field area area-mragin classification_general_field classification_general_field contact_form_field",:style=>'display:none'} %>
          </div>
          <p><%= submit_tag "Send", :id=>"submit_button", :class=>'button'%></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="sun" class="title" style="height:90px;">
  <div class="row_fluid" style='color:#bbb;font-size:0.8em'>
    <p id='quotes'>
    </p>
  </div>
</div>

<div id='submit_form' style='display:none;height:330px'>
  <div style='height:330px'>
  <div style='padding:5px;color:#fff;background-color:#5b9337'><%=link_to image_tag("logo_white_small.png",:size=>"106x14", :style=>"border:none"),"/", :style=>"border:none"%> - Make your website better, faster</div>
  <div style='padding:10px'>
  <div class='sf'><span class='sf_label'>Your site</span> <%=text_field_tag :sf_site %> </div>
  <div class='sf'><span class='sf_label'>Your email address</span> <%=text_field_tag :sf_email %> </div>
  <br />
  <div class='sf'><span class='sf_label'>Your expert</span> xxx </div>
  <div class='sf'><span class='sf_label'>Your feedback format</span> xxx </div>
  <br />
  <div class='sf'><span class='sf_label'>Price</span>$75 <br /></div>
  <div class='sf'>
     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="VLGD58TSXM7QN">
          <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  </div>
  </div>
</div>
</div>

