
<div style="position:relative;top:0;left:0">
  <%=image_tag "let-our-experts.png", :class=>"expertbg"%>
  <%=link_to image_tag("use-button.png", :class=>"usebutton"), "#contact"%>
</div>


<div id="sun" class="title">
  <p>Often the difference between a good and great design is a matter of refining a few elements - Sun Tzu</p>
</div>


<!--
<div id="ourexperts" style="overflow:hidden">

  <h1 class='title center'>OUR EXPERTS</h1>

  <div id="leftexpert">
  	<%=image_tag "expert.png"%>
  </div>



  <div id="rightexpert">

    <div id="profile">
      <h2>ROBIN MATHER</h2>
      This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.  
    </div>

    <div id="clients">
      <h3 class="title">CLIENTS</h3>
      carsales.com.au<br>
      digg.com 
    </div>

    <div id="specialties">
      <h3 class="title">SPECIALTIES</h3>
      UX design
      Colours<br>
      Computers<br>
    </div>

    <div style="clear:both"></div>

  </div>

    <div id="moreexperts" style='position:absolute;top:1340px;left:730px'>
      <span id='expertleft'><-</span>  MORE EXPERTS   <span id='expertright'>-></span>
    </div>

    <div style="clear:both;"></div>

   <div id="signup">

    <div style="float:left;width:470px;">
      <p>Think you've got what it takes to be an expert ? <br>
      Hit the link & we'll sign you up. </p> 
    </div>

    <div style="float:right;width:470px;margin-left:0px;">
      <%=link_to image_tag("signup-as-expert.png"), "#contact"%>
    </div>

   </div>

  <div style="clear:both;"></div>

</div>  -->


<div id="howitworks">
  <center><h1 class='title'>HOW IT WORKS</h1></center>
  <center><%=image_tag "how-it-works.png" %></center>
</div>


<div id="whyandhow">

  <div id="leftwhy">
  	 <h3 class="title">Why should I do this ?</h3>
     <p>
        As designers we've seen website owners get 'tired' of their perfectly good websites much too often, 
        deciding to do a full re-design that is both costly and time consuming. Get an objective opinion
        about whether your site really needs a full re-design, or whether a few tweaks will get the job done.
     </p>
        <br />
  	 <h3 class="title">Why not use a web design company?</h3>
     <p> 
        Asking a web design company if you need a new website is like asking a hairdresser if you need a 
        haircut - the answer is always yes! 
        <br /><br />
        InputFarm's experts are not looking to sell you a site re-design (in fact they'll never try to sell
        you further paid services). Instead they'll look for the 'low hanging fruit' - how to make your site
        better with the least amount of effort. Once you receive the review you can either make the changes
        yourself or get your designer to do it for you.
     </p>
        
  </div>

  <div id="rightwhy">
  	 <h3>How much does it cost?</h3>
        $60
        <br />
        InputFarm removes all the extraneous work that a designer would ordinarily have to do - quotes,
        client meetings, client communications and reports.
        <br /><br />
        By removing all this extra work they can provide this service at a very reasonable rate.
     <br />
     <br />
  	 <h3>What do I get for my money ?</h3>
      <p>
        Your site gets reviewed by an expert for 30 minutes and they give you a report
        containing:
        <ul style='padding-left:20px'>
          <li>Annotated markup of your site</li>
          <li>What they think is good about your site</li>
          <li>What could be improved and how</li>
          <li>The first 3 things they would do if they were working on it</li>
        </ul>
        <br />
        See a sample report now!
      </p>
  </div>

  <div style="clear:both;"></div>

</div>

<div id="contact">
  <h2>LET'S GET STARTED</h2>
  <br>
  <br>

  <%= form_tag("/front/contact", method: "post") do %>
    <p>
      <%=radio_button_tag 'classification', "helpee", true%> Get my site reviewed by an expert
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= radio_button_tag 'classification', "helper"%> I’m an expert, sign me up!   
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= radio_button_tag 'classification', "general"%> General enquiry
    </p>
    <br>
    <div id="fieldss">
       <p><%= text_field_tag :name, "Name",{:class=>"field"} %></p>
      <p><%= text_field_tag :email, "Email",{:class=>"field"} %></p>
      <p><%= text_field_tag :url, "Site URL",{:class=>"field"} %></p>
      <p><%= text_area_tag :fivethings, "Five main things to focus on",{:class=>"field area area-margin"} %></p>
      <p><%= text_area_tag :message, "Other things we need to know",{:class=>"field area area-mragin"} %></p>
      <p><%= submit_tag "",:type=>"image", :src=>"assets/submit.png", :style=>"padding-left:280px" %></p>
    </div>
  <% end %>

</div>


<script>
  $('#classification_general').click(function(){
    $('#contact').css('height','440px');
     fields = " \
     <p><input class='field' id='name' name='name' type='text' value='Name' /></p> \
      <p><input class='field' id='email' name='email' type='text' value='Email' /></p> \
      <p><textarea class='field area' id='message' name='message'>Message</textarea></p> \
      <p><input name='commit' src='assets/submit.png' style='padding-left:280px' type='image' value='' /></p>";

     $('#fieldss').html(fields);
     $(function(){
        $(':input').focus(function(){
          if (!this.clicked) {
            $(this).attr('value', '');
            $(this).val('');    
            this.clicked = true;
          }
        }); 
      });
  });

  $('#classification_helpee').click(function(){
    $('#contact').css('height','680px');
     fields = " \
     <p><input class='field' id='name' name='name' type='text' value='Name' /></p> \
      <p><input class='field' id='email' name='email' type='text' value='Email' /></p> \
      <p><input class='field' id='url' name='url' type='text' value='Site URL'></p> \
      <p><textarea class='field area' id='fivethings' name='fivethings'>Five main things to focus on</textarea></p> \
      <p><textarea class='field area' id='message' name='message'>Other things we need to know</textarea></p> \
      <p><input name='commit' src='assets/submit.png' style='padding-left:280px' type='image' value='' /></p>";
      
     $('#fieldss').html(fields);

     $(function(){
        $(':input').focus(function(){
          if (!this.clicked) {
            $(this).attr('value', '');
            $(this).val('');    
            this.clicked = true;
          }
        }); 
      });
  });

  $('#classification_helper').click(function(){
     $('#contact').css('height','520px');

     fields = " \
     <p><input class='field' id='name' name='name' type='text' value='Name' /></p> \
      <p><input class='field' id='email' name='email' type='text' value='Email' /></p> \
      <p><input class='field' id='url' name='url' type='text' value='Portfolio URL'></p> \
      <p><textarea class='field area' id='message' name='message'>Message</textarea></p> \
      <p><input name='commit' src='assets/submit.png' style='padding-left:280px' type='image' value='' /></p>";

     $('#fieldss').html(fields);

     $(function(){
        $(':input').focus(function(){
          if (!this.clicked) {
            $(this).attr('value', '');
            $(this).val('');    
            this.clicked = true;
          }
        }); 
      });
  });

</script>



<script>

  $('#expertleft').click(function() {
    
    left = "<div id='profile'> \
      <h2>MATTHEW B</h2> \
      It has been placed here solely to demonstrate the look and feel of finished, typeset text. \
      Only for show. He who searches for meaning here will be sorely disappointed.  \
    </div> \
    \
    <div id='clients'> \
      <h3 class='title'>CLIENTS</h3> \
      news.com.au<br> \
      digg.com \
    </div>\
    \
    <div id='specialties'>\
      <h3 class='title'>SPECIALTIES</h3>\
      UX design\
      Colours<br>\
      Computers<br>\
    </div>\
    \
    <div style='clear:both'></div>\
    ";

    $('#rightexpert').html(left);

    return false;
  });


  $('#expertright').click(function() {

    right = "<div id='profile'> \
      <h2>Boomer</h2> \
      This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. \
      Only for show. He who searches for meaning here will be sorely disappointed.  \
    </div> \
    \
    <div id='clients'> \
      <h3 class='title'>CLIENTS</h3> \
      theage.com.au<br> \
      ebay.com \
    </div>\
    \
    <div id='specialties'>\
      <h3 class='title'>SPECIALTIES</h3>\
      UX design\
      Colours<br>\
      Computers<br>\
    </div>\
    \
    <div style='clear:both'></div>";

    $('#rightexpert').html(right);

    return false;
  }); 


</script>








