<%=image_tag "let-our-experts.png"%>

<div id="sun">
  <p>Often the different between a good and greate design is a matter of refining a few elements - Sun Tzu</p>
</div>

<div id="ourexperts">
</div>

<div id="howitworks">
  <center><%=image_tag "how-it-works.png" %></center>
</div>

<div id="whyandhow">

  <div id="leftwhy">
  	 <h3>Why should I do this ?</h3>
	<p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation.</p>

	<p>Think of them merely as actors on a paper stage, in a performance devoid of content yet rich in form. That being the case, there is really no point in your continuing to read them. After all, you have many other things you should be doing. Who's paying you to waste this time, anyway?</p>

	<p>This is dummy copy. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense. Why, you can't even read it! It is strictly for mock-ups. You may mock it up as strictly as you wish.</p>
  </div>

  <div id="rightwhy">
  	 <h3>What do I get for my money ?</h3>
  	 <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed. These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. </p>

  	 <p>Think of them merely as actors on a paper stage, in a performance devoid of content yet rich in form. That being the case, there is really no point in your continuing to read them. After all, you have many other things you should be doing. Who's paying you to waste this time, anyway?</p>

  	 <p>This is dummy copy. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense. Why, you can't even read it! It is strictly for mock-ups. You may mock it up as strictly as you wish.</p>
  </div>

</div>

<div id="contact">
  <h2>CONTACT</h2>

  <%= form_tag("", method: "get") do %>
    <p><%= text_field_tag(:name) %></p>
    <p><%= text_field_tag(:email) %></p>
    <p><%= text_field_tag(:message) %></p>
    <p><%= submit_tag("Submit") %></p>
  <% end %>

</div>


