<!DOCTYPE html>
<html>
<head>
  <title>Input Farm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

     <title></title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<style media="screen" type="text/css">
	/* <!-- */
	/* General styles */

    @font-face {
      font-family: 'Roboto-Black';
      src: url('/assets/Roboto-Black.ttf');
      src: local('☺'), url('/assets/vegur-r_0.602-webfont.woff') format('woff'), url('/assets/Roboto-Black.ttf') format('truetype'), url('/assets/vegur-r_0.602-webfont.svg#webfontlYuAwLPv') format('svg');
      font-weight: normal;
      font-style: normal;
    }

	body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		width:100%;
		background:#fff;
		min-width:600px;		/* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
		font-size:90%;
		font-family:'Roboto';
		color: white;
	}
	a {
		color:#fff;
		text-decoration:none;
	}
	a:hover {
		color:#d3d3d3;
		background:none;
		text-decoration:none;
	}
	h1, h2, h3 {
		margin:.8em 0 .2em 0;
		padding:0;
	}
	p {
		margin:.4em 0 .8em 0;
		padding:0;
	}
	img {
		margin:10px 0 5px;
	}
	/* Header styles */
	#header {
		clear:both;
		float:left;
		width:100%;
		height:45px;
		padding-top:20px;
		width:1200px;
		margin-right:125px;
	}
	#header {
		/*border-bottom:1px solid #000;*/
	}
	#header p,
	#header h1,
	#header h2 {
		padding:.4em 15px 0 15px;
		margin:0;
	}
	#header ul {
		clear:left;
		float:left;
		width:100%;
		list-style:none;
		margin:10px 0 0 0;
		padding:0;
	}
	#header ul li {
		display:inline;
		list-style:none;
		margin:0;
		padding:0;
	}
	#header ul li a {
		display:block;
		float:left;
		margin:0 0 0 1px;
		padding:3px 10px;
		text-align:center;
		background:#eee;
		color:#FFFFFF;
		text-decoration:none;
		position:relative;
		left:15px;
		line-height:1.3em;

	}
	#header ul li a:hover {
		background:#369;
		color:#fff;
	}
	#header ul li a.active,
	#header ul li a.active:hover {
		color:#fff;
		background:#000;
		font-weight:bold;
	}
	#header ul li a span {
		display:block;
	}
	/* 'widths' sub menu */
	#layoutdims {
		clear:both;
		background:#eee;
		border-top:4px solid #000;
		margin:0;
		padding:6px 15px !important;
		text-align:right;
	}
	/* column container */
	.colmask {
		position:relative;	/* This fixes the IE7 overflow hidden bug */
		clear:both;
		float:left;
		width:100%;			/* width of whole page */
		overflow:hidden;		/* This chops off any overhanging divs */
	}
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;
		position:relative;
	}
	.col1,
	.col2,
	.col3 {
		float:left;
		position:relative;
		padding:0 0 1em 0;
		overflow:hidden;
		margin-bottom:0px;
		padding-bottom:0px;
	}
	/* Full page settings */
	.fullpage {
		background:#fff;		/* page background colour */
	}
	.fullpage .col1 {
		width:1200px;			/* page width minus left and right padding */
		left:0%;			/* page left padding */
	}

	#copyright {
      margin-left:130px;
      margin-top:50px;
      float:left;
	}

	#footerlinks {
		margin-top:50px;
		margin-right:125px;
		float:right;
	}

	/* Footer styles */
	#footer {
		clear:both;
		float:left;
		width:100%;
		background-color:#5b9337;
		height:120px;
		width:1200px;
		padding-top:0px;
		margin-top:0px;
		/*border-top:1px solid #000;*/
	}
	#footer p {
		padding:10px;
		margin:0;
	}

	#logo{	
	  float:left;	
	  padding-left:130px;
	}

	#header-links{
		float:right;
		/*color:#5b9337;*/
		padding-right:130px;
		padding-top:11px;
	}

	#header-links a{
		/*color:#5b9337;*/
	}

	#contact {
		width:100%;
		height:450px;
		background-color:#e6e6e6;
		padding-bottom:50px;
		margin-bottom:0px;
		padding-top:35px;
		color:#616161;
		text-align: center;
	}	

	#whyandhow {
		height:450px;
	}

	#howitworks {
		width:1190px;
		margin:auto;
	}

	#ourexperts {
		background-color: #fafafa;
		height:675px;
		color:#a7a7a7;
	}


	#leftexpert{
		float:left;
		color:#a7a7a7;
	    width:475px;
	    margin-left:125px;
	}


	#rightexpert{
	    float:right;
	    color:#a7a7a7;	
	    width:475px;
	    padding-top:0px;
	    margin-top:0px;
	}


    #whyandhow{
       padding-top:50px;	
    }

	#leftwhy {
		float:left;
		color:#616161;
		margin-left:160px;
		width:400px;
		h3.padding-bottom:25px;
	}

	#rightwhy{
		float:right;
		color:#616161;
		margin-right:160px;
		width:400px;
		h3.padding-bottom:25px;
	}

	#rightwhy h3 { padding-bottom:40px; color:#7a7a7a;}
	#leftwhy h3 { padding-bottom:40px; color:#7a7a7a;}

	#whytext{
		color:#a7a7a7;
	}

	.link_home {
		color:#5b9337;	
		font-weight:bolder;	
		padding-right:15px;
	}

	.link {
		color:#7a7a7a;
		font-weight:bolder;
		padding-right:15px;
	}


    .usebutton{
    	position:absolute;
    	left:125px;
    	top:450px;
    }

    .expertbg{
    	position:relative;
    	top:0;
    	left:0;
    }

    .title {
    	color:#4c4c4c;
    	
    }

    .center {
    	text-align: center;
    	padding-bottom:20px;
    	padding-top:20px;
    }

    #ourexperts h2 {
    	color:#4c4c4c;
    }

    #specialties {
    	float:right;
    	width:237px;
    }

    #clients{
    	float:left;
    	width:237px;
    }

    #profile{
    	padding-bottom:10px;
    }

    #sun{
    	text-align: center;
    }

    #moreexperts{
    	padding-top:10px;
    }

    #signup{
    	height:200px;
    	width:950px;
    	margin-right:125px;
    	margin-left:125px;
    	padding-top:20px;
    }

    .field{
    	border-style: none; 
        color: #7a7a7a;  
        padding-left: 10px;
        font-size:14px;
        height:40px;
        width:400px;
    }

    .area{
    	height:150px;
    }


	/* --> */
	</style>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="header">
   <div id="logo">
     <%=link_to image_tag("logo.png"),"/", :style=>"border:false"%>
   </div>

   <div id="header-links">
   	<%=link_to "HOME","", :class=>"link_home"%> 
   	<%=link_to "OUR EXPERTS","#ourexperts", :class=>"link"%> 
   	<%=link_to "HOW IT WORKS","#howitworks",:class=>"link"%>
   	<%=link_to "CONTACT","#contact",:class=>"link"%>
   </div>

   <%=flash[:notice]%>
</div>


<div class="colmask fullpage">
  <div class="col1">
    <%= yield %>
  </div>
</div>

<div id="footer">
	<div id="copyright">
		© 2013 INPUTFARM
	</div>

    <div id="footerlinks"> 
    		<%=link_to "HOME","/" %> / <%=link_to "OUR EXPERTS","#ourexperts", :class=>""%> / <%=link_to "HOW IT WORKS","#howitworks"%> / <%=link_to "CONTACT","#contact"%> / <%=link_to "TERMS & CONDITIONS",""%> 
    </div>

</div>

</body>
</html>
