<!DOCTYPE html>
<html>
  <head>
    <title>Input Farm</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 </head>
  <body  onload="document.body.style.opacity='1'">
    <div id="header">
      <div class='row_fluid'>
        <div id="logo">
          <%=link_to image_tag("logo_trans_med.png",:size=>"225x27",:border=>0),"/", :style=>"border:false"%>
        </div>
        <% if @show_header.nil? || @show_header %>
        <div id="header-links">
          <div class='left' style='border-bottom:2px solid #5b9337'>
            <%=link_to "HOME","", :class=>"link_home"%>
          </div>
          <%#=link_to "OUR EXPERTS","#ourexperts", :class=>"smoothScroll link"%> 
          <div class='left'><%=link_to "HOW IT WORKS","#howitworks",:class=>"smoothScroll link"%></div>
          <div class='left'><%=link_to "CONTACT","#contact",:class=>"smoothScroll link"%></div>
        </div>
        <% end %>
        <% if flash[:notice].present? %>
          <p id='flash_notice' class='flash_notice'> <%=flash[:notice]%></p>
          <script>
            $(function(){
              $("#flash_notice").fadeOut(1000).fadeIn(1000).fadeOut(1000).fadeIn(1000).fadeOut(1000);
            });
          </script>

        <% end %>
      </div>
    </div>
    <%= yield %>
    <div id="sun" class="title" style="height:90px;">
      <div class="row_fluid" style='color:#bbb;font-size:0.8em'>
        <p id='quotes'>
        </p>
      </div>
    </div>

    <div id="footer">
      <div class="row_fluid">
        <div id="copyright">
          <%=link_to image_tag("logo_white_small.png",:size=>"106x14", :style=>"border:none"),"/", :style=>"border:none"%>
        </div>
        <div id="footerlinks"> 
          <%=link_to "HOME","/" %>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp; 
          <!--<%=link_to "Our Experts","#ourexperts", :class=>"smoothScroll"%> &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp; -->
          <%=link_to "HOW IT WORKS","#howitworks", :class=>"smoothScroll"%>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp; 
          <%=link_to "CONTACT","#contact", :class=>"smoothScroll"%>
          <%#=link_to "TERMS & CONDITIONS",""%> 
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application_end" %>
    <%= javascript_tag do %>
      //expert_profiles = '<%#= raw ExpertProfiles.to_json %>';
      var expert_profiles = [];
      expert_profiles.push(new ExpertProfile(1,"James McNaught", "London, UK", 1, "www.jamesmcnaught.co.uk", "I'm a graphic design graduate with international experience, industry recognition, and a borderline unhealthy interest in all things typographic. That said, my love of solid kerning, leading and alignment doesn't mean I don't get my hands dirty with the creative side of things.", 32.3));
      var ep = expert_profiles[0];
      ep.feedbacks.push( new Feedback('Matt McKinlay','inputfarm.com', "Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.portfolios.push( new Portfolio('www.jamesmcnaught.co.uk', '/assets/logos/homepage_108x79.jpg', 'goog','tes') ); 
      ep.portfolios.push( new Portfolio('www.behance.net/thinkingwithtype', '/assets/logos/behance_108x79.jpg', 'behance','tes') ); 


      expert_profiles.push(new ExpertProfile(2,"Tom Watkins", "Lincoln, United Kingdom", 1, "www.tomanders.com", "I'm an innovative, creative designer at the forefront of digital trends. Working with companies around the world I've built up a wealth of valuable experience & design knowledge waiting to be shared.", 33.3));
      ep = expert_profiles[1];
      ep.feedbacks.push( new Feedback('John S','-', "Tom "));
      ep.portfolios.push( new Portfolio('www.behance.net/tomanders', '/assets/logos/behance_108x79.jpg', 'Behance','tes') ); 
      ep.portfolios.push( new Portfolio('dribbble.com/TomAnders', '/assets/logos/dribbble_108x79.jpg', 'Dribbble','tes') ); 
      ep.portfolios.push( new Portfolio('www.creativemarket.com/tomanders', '/assets/logos/creative_market_108x79.jpg', 'Creative Market','tes') ); 


      expert_profiles.push(new ExpertProfile(3,"Stephen Grace", "Adelaide, Australia", 1, "www.nephets.com", "Stephen is a self taught graphic and web designer with a strong interest in typography.", 32.3));
      ep = expert_profiles[2];
      ep.feedbacks.push( new Feedback('Andrew N','[hidden]', "Stephen is a thoughtful designer who gave us really targeted feedback. He identified some simple issues with the layout, button colour choice and our photo header. His feedback was clear, interesting and appealed to our overall direction.  We implemented almost all of his suggestions, and plan to use him for review again."));
      ep.portfolios.push( new Portfolio('www.nephets.com', '/assets/logos/homepage_108x79.jpg', 'goog','tes') ); 
      ep.portfolios.push( new Portfolio('dribbble.com/nephets', '/assets/logos/dribbble_108x79.jpg', 'dribbble','tes') ); 
     
      expert_profiles.push(new ExpertProfile(4,"Robin Mather", "Adelaide, Australia", 3, "www.robinmather.com", "I'm an enthusiastic designer with a strong history in designing and managing engaging user experiences across a diverse range of industries in Australia and Europe. Clients include Elsevier, Lucas Arts, Warner Brothers, Sony, and Microsoft. ", 33.3));
      ep = expert_profiles[3];
      ep.feedbacks.push( new Feedback('James Reid','webtemplate.com.au', "Robin came up with a bunch of great suggestions for our site. We plan to implement most of them as soon as we can."));
      ep.portfolios.push( new Portfolio('www.robinmather.com', '/assets/logos/homepage_108x79.jpg', 'homepage','tes') ); 

    <% end %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44163429-1', 'inputfarm.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
