<!DOCTYPE html>
<html>
  <head>
    <title>Input Farm</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 </head>
  <body  onload="document.body.style.opacity='1'">
    <div id="header">
      <div class='row_fluid'>
        <div id="logo">
          <%=link_to image_tag("logo_trans_med.png",:size=>"225x27",:border=>0),"/", :style=>"border:false"%>
        </div>
        <% if @show_header.nil? || @show_header %>
        <div id="header-links">
          <div class='left' style='border-bottom:2px solid #5b9337'>
            <%=link_to "HOME","", :class=>"link_home"%>
          </div>
          <%#=link_to "OUR EXPERTS","#ourexperts", :class=>"smoothScroll link"%> 
          <div class='left'><%=link_to "HOW IT WORKS","#howitworks",:class=>"smoothScroll link"%></div>
          <div class='left'><%=link_to "CONTACT","#contact",:class=>"smoothScroll link"%></div>
        </div>
        <% end %>
        <% if flash[:notice].present? %>
          <p id='flash_notice' class='flash_notice'> <%=flash[:notice]%></p>
          <script>
            $(function(){
              $("#flash_notice").fadeOut(1000).fadeIn(1000).fadeOut(1000).fadeIn(1000).fadeOut(1000);
            });
          </script>

        <% end %>
      </div>
    </div>
    <%= yield %>
    <div id="sun" class="title" style="height:90px;">
      <div class="row_fluid" style='color:#bbb;font-size:0.8em'>
        <p id='quotes'>
        </p>
      </div>
    </div>

    <div id="footer">
      <div class="row_fluid">
        <div id="copyright">
          <%=link_to image_tag("logo_white_small.png",:size=>"106x14", :style=>"border:none"),"/", :style=>"border:none"%>
        </div>
        <div id="footerlinks"> 
          <%=link_to "HOME","/" %>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp; 
          <!--<%=link_to "Our Experts","#ourexperts", :class=>"smoothScroll"%> &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp; -->
          <%=link_to "HOW IT WORKS","#howitworks", :class=>"smoothScroll"%>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp; 
          <%=link_to "CONTACT","#contact", :class=>"smoothScroll"%>
          <%#=link_to "TERMS & CONDITIONS",""%> 
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application_end" %>
    <%= javascript_tag do %>
      //expert_profiles = '<%#= raw ExpertProfiles.to_json %>';
      var expert_profiles = [];
      expert_profiles.push(new ExpertProfile(1,"James McNaughtx", "London, UKx", 4, "www.jamesmcnaught.co.ukxx", "xxI'm a graphic design graduate with international experience, industry recognition, and a borderline unhealthy interest in all things typographic. That said, my love of solid kerning, leading and alignment doesn't mean I don't get my hands dirty with the creative side of things.", 32.3));
      var ep = expert_profiles[0];
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.portfolios.push( new Portfolio('www.google.com', '/assets/portfolio1.jpg', 'goog','tes') ); 
      ep.portfolios.push( new Portfolio('www.google.com', '/assets/portfolio2.jpg', 'goog','tes') ); 
      ep.portfolios.push( new Portfolio('www.google.com', '/assets/portfolio3.jpg', 'goog','tes') ); 

      expert_profiles.push(new ExpertProfile(2,"Stephen Grace", "Adelaide, Australia", 5, "www.jamesmcnaught.co.uk", "STEVEnnm a graphic design graduate with international experience, industry recognition, and a borderline unhealthy interest in all things typographic. That said, my love of solid kerning, leading and alignment doesn't mean I don't get my hands dirty with the creative side of things.", 32.3));
      ep = expert_profiles[1];
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "2Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "2Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "2Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "2Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.portfolios.push( new Portfolio('www.google.com', '/assets/portfolio1.jpg', 'goog','tes') ); 
      ep.portfolios.push( new Portfolio('www.google.com', '/assets/portfolio2.jpg', 'goog','tes') ); 
      ep.portfolios.push( new Portfolio('www.google.com', '/assets/portfolio3.jpg', 'goog','tes') ); 

     
      expert_profiles.push(new ExpertProfile(3,"Robin Mather", "Adelaide, Australia", 9, "www.jamesmcnaught.co.uk", "ROBBY graphic design graduate with international experience, industry recognition, and a borderline unhealthy interest in all things typographic. That said, my love of solid kerning, leading and alignment doesn't mean I don't get my hands dirty with the creative side of things.", 33.3));
      ep = expert_profiles[2];
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "3Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "3Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "3Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.feedbacks.push( new Feedback('John Hall','sportomate.com', "3Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.portfolios.push( new Portfolio('www.google.com', '/assets/portfolio1.jpg', 'goog','tes') ); 
      ep.portfolios.push( new Portfolio('www.google.com', '/assets/portfolio2.jpg', 'goog','tes') ); 
      ep.portfolios.push( new Portfolio('www.google.com', '/assets/portfolio3.jpg', 'goog','tes') ); 


    <% end %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44163429-1', 'inputfarm.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
