<!DOCTYPE html>
<html>
  <head>
    <title>Input Farm</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  </head>
  <body>

    <script>
      $(function () {
        $('#fileupload').fileupload({
          dataType: 'json',
          done: function (e, data) {
            $.each(data.result.files, function (index, file) {
              $('<p/>').text(file.name).appendTo(document.body);
            });
          }
        });
      });
    </script>



    <script>
      $(function(){
        $(':input').focus(function(){
          if (!this.clicked) {
            $(this).attr('value', '');
            $(this).val('');    
            this.clicked = true;
          }
        });	
      });
    </script>
    <div id="header">
      <div class='row-fluid'>
      <div id="logo">
        <%=link_to image_tag("logo.png",:size=>"225x31"),"/", :style=>"border:false"%>
      </div>

      <div id="header-links">
        <%=link_to "HOME","", :class=>"link_home"%> 
        <%=link_to "OUR EXPERTS","#ourexperts", :class=>"link"%> 
        <%=link_to "HOW IT WORKS","#howitworks",:class=>"link"%>
        <%=link_to "CONTACT","#contact",:class=>"link"%>
      </div>

      <%=flash[:notice]%>
      </div>
    </div>


        <%= yield %>

    <div id="footer">
      <div class="row-fluid">
      <div id="copyright">
        &copy; 2013 INPUTFARM
      </div>

      <div id="footerlinks"> 
        <%=link_to "Home","/" %>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp; 
        <%=link_to "Our Experts","#ourexperts", :class=>""%> &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp; 
        <%=link_to "How It Works","#howitworks"%>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp; 
        <%=link_to "Contact","#contact"%>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp; 
        <%=link_to "Terms & Conditions",""%> 
      </div>
      </div>
    </div>
  </body>

</html>
