<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Input Farm - expert reviewers for your website</title>
    <meta name="description" content="Input Farm is where you can get your website reviews for $75 by an expert reviewer.">
    <meta name="author" content="Input Farm">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="/assets/bootstrap.min.css">
    <!-- web font  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- plugin css  -->
    <%= stylesheet_link_tag    "foo", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="/assets/modernizr-2.6.1.min.js"></script>
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">

    <%#= stylesheet_link_tag    "application", :media => "all" %>
    <%#= javascript_include_tag "application" %>
    <%#= csrf_meta_tags %>

    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
 
  </head>
  <body data-spy="scroll" data-target="#scrollTarget" data-offset="150">
  <!-- onload="document.body.style.opacity='1'">-->
     <%=yield%> 

    <%= javascript_include_tag "application_end" %>
    <%= javascript_tag do %>
      //expert_profiles = '<%#= raw ExpertProfiles.to_json %>';
      var expert_profiles = [];
      expert_profiles.push(new ExpertProfile(1,"James McNaught", "London, UK", 1, "www.jamesmcnaught.co.uk", "I'm a graphic design graduate with international experience, industry recognition, and a borderline unhealthy interest in all things typographic. That said, my love of solid kerning, leading and alignment doesn't mean I don't get my hands dirty with the creative side of things.", 32.3));
      var ep = expert_profiles[0];
      ep.feedbacks.push( new Feedback('Matt McKinlay','inputfarm.com', "Jim gave us great feedback coming up with a couple of new ideas and confirming a few things we had thought about but weren't sure whether to go ahead with."));
      ep.portfolios.push( new Portfolio('www.jamesmcnaught.co.uk', '/assets/logos/homepage_108x79.jpg', 'goog','tes') ); 
      ep.portfolios.push( new Portfolio('www.behance.net/thinkingwithtype', '/assets/logos/behance_108x79.jpg', 'behance','tes') ); 


      expert_profiles.push(new ExpertProfile(2,"Tom Watkins", "Lincoln, United Kingdom", 1, "www.tomanders.com", "I'm an innovative, creative designer at the forefront of digital trends. Working with companies around the world I've built up a wealth of valuable experience & design knowledge waiting to be shared.", 33.3));
      ep = expert_profiles[1];
      ep.feedbacks.push( new Feedback('David N','[hidden]', "Tom's feedback respected our current design and gave us a great idea on how we could use elements and fonts of our logo to create a more consistent look. I have spent countless hours looking at my site trying to improve it to the point where I couldn't tell good from bad. The fresh perspective certainly helped."));
      ep.portfolios.push( new Portfolio('www.behance.net/tomanders', '/assets/logos/behance_108x79.jpg', 'Behance','tes') ); 
      ep.portfolios.push( new Portfolio('dribbble.com/TomAnders', '/assets/logos/dribbble_108x79.jpg', 'Dribbble','tes') ); 
      ep.portfolios.push( new Portfolio('www.creativemarket.com/tomanders', '/assets/logos/creative_market_108x79.jpg', 'Creative Market','tes') ); 


      expert_profiles.push(new ExpertProfile(3,"Stephen Grace", "Adelaide, Australia", 1, "www.nephets.com", "Stephen is a self taught graphic and web designer with a strong interest in typography.", 32.3));
      ep = expert_profiles[2];
      ep.feedbacks.push( new Feedback('Andrew N','[hidden]', "Stephen is a thoughtful designer who gave us really targeted feedback. He identified some simple issues with the layout, button colour choice and our photo header. His feedback was clear, interesting and appealed to our overall direction.  We implemented almost all of his suggestions, and plan to use him for review again."));
      ep.portfolios.push( new Portfolio('www.nephets.com', '/assets/logos/homepage_108x79.jpg', 'goog','tes') ); 
      ep.portfolios.push( new Portfolio('dribbble.com/nephets', '/assets/logos/dribbble_108x79.jpg', 'dribbble','tes') ); 
     
      expert_profiles.push(new ExpertProfile(4,"Robin Mather", "Adelaide, Australia", 3, "www.robinmather.com", "I'm an enthusiastic designer with a strong history in designing and managing engaging user experiences across a diverse range of industries in Australia and Europe. Clients include Elsevier, Lucas Arts, Warner Brothers, Sony, and Microsoft. ", 33.3));
      ep = expert_profiles[3];
      ep.feedbacks.push( new Feedback('James Reid','webtemplate.com.au', "Robin came up with a bunch of great suggestions for our site. We plan to implement most of them as soon as we can."));
      ep.portfolios.push( new Portfolio('www.robinmather.com', '/assets/logos/homepage_108x79.jpg', 'homepage','tes') ); 

    <% end %>
 
     <!-- End Document 
    ================================================== -->
    <!-- used for resizing and media matches -->
    <script type="text/javascript" src="/assets/js-plugin/respond/respond.min.js"></script>

    <script type="text/javascript" src="/assets/js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>

    <!-- third party plugins  -->
    <script type="text/javascript" src="/assets/bootstrap.js"></script>

    <!-- nicer easing/scrolling -->
    <script type="text/javascript" src="/assets/js-plugin/easing/jquery.easing.1.3.js"></script>
    
    <!-- scrolling text -->
    <script type="text/javascript" src="/assets/js-plugin/flexslider/jquery.flexslider-min.js"></script> 

<% if false # used for moving/sorting images/boxes %>
    <script type="text/javascript" src="/assets/js-plugin/isotope/jquery.isotope.js"></script>
<% end %>
<!--    <script type="text/javascript" src="/assets/js-plugin/neko-contact-ajax-plugin/js/jquery.form.js"></script>-->

    <!-- validate email -->
    <script type="text/javascript" src="/assets/js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js"></script>

<% if false # lightbox - we're using prettyPhoto instead %>
    <script type="text/javascript" src="/assets/js-plugin/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript" src="/assets/js-plugin/parallax/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script type="text/javascript" src="/assets/js-plugin/parallax/js/jquery.localscroll-1.2.7-min.js"></script>

    <script type="text/javascript" src="/assets/js-plugin/pageSlide/jquery.pageslide-custom.js"></script>
    <script type="text/javascript" src="/assets/js-plugin/jquery.sharrre-1.3.4/jquery.sharrre-1.3.4.min.js"></script>
    <script type="text/javascript" src="/assets/js-plugin/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<% end %>
    <script type="text/javascript" src="/assets/js-plugin/parallax/js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="/assets/js-plugin/smoothscroll/SmoothScroll.js"></script> 


    <!-- Custom  -->
    <script type="text/javascript" src="/assets/custom.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44163429-1', 'inputfarm.com');
      ga('send', 'pageview');

    </script>

  </body>
  </html>

