<h3 style='margin-top: 0'>James McNaught</h3>
3 reviews <br />
49 hour average turnaround time <br />
<br />
<h5>Profile</h5> 
I'm a graphic design graduate with international experience, industry recognition, and a borderline unhealthy interest in all things typographic. That said, my love of solid kerning, leading and alignment doesn't mean I don't get my hands dirty with the creative side of things. The idea always comes first, and whether it means using Marmite, JavaScript, ice or limestone, I put the brief before my ego and look for the best solution.

<br />
<br />
<h5>Links</h5> 

<div style="float:left;padding-right:10px;text-align:center">
  <%=link_to image_tag('logos/homepage.png', :size=>'70x70'), 'http://www.jamesmcnaught.co.uk', :target=>'_blank', :class=>'green_links small_text'%> 
  <br />
  <%=link_to '[homepage]', 'http://www.jamesmcnaught.co.uk', :target=>'_blank', :class=>'green_links small_text'%> <br />
</div>
<div style="float:left;padding-right:10px;text-align:center">
  <%=link_to image_tag('logos/behance.png', :size=>'70x70'), 'http://www.behance.net/thinkingwithtype', :target=>'_blank', :class=>'green_links small_text'%> 
  <br />
  <%=link_to '[behance]', 'http://www.behance.net/thinkingwithtype', :target=>'_blank', :class=>'green_links small_text'%> 
</div>
<!--
<div style="float:left;padding-right:10px;text-align:center">
  <%=image_tag  'portfolio3.jpg', :size=>'70x70' %>
  <br />
  <%=link_to '[link]', 'http://www.google.com', :target=>'_blank', :class=>'green_links small_text'%> <br />
</div>
-->
<div class='clear'></div>
<!--
<br />
<br />
<%=link_to raw('&raquo; view full profile'), "/expert/1/james_mcnaught", :class=>'green_links' %>
-->
