<h3 style='margin-top: 0'>Robin Mather</h3>
5 reviews <br />
49 hour average turnaround time <br />
<br />
<h5>Profile</h5> 
I'm an enthusiastic designer with a strong history in designing and managing engaging user experiences across a diverse range of industries.
<br /><br />

My passion for digital, print and interaction design has given me the opportunity to workin Australia and Europe for clients including Elsevier, Lucas Arts, Warner Brothers, Sony, Harcourts and Microsoft.

<br />
<br />
<h5>Links</h5> 

<div style="float:left;padding-right:10px;text-align:center">
  <%=link_to image_tag('logos/homepage.png', :size=>'70x70'), 'http://www.robinmather.com', :target=>'_blank', :class=>'green_links small_text'%> 
  <br />
  <%=link_to '[homepage]', 'http://www.robinmather.com', :target=>'_blank', :class=>'green_links small_text'%> <br />
</div>
<!--
<div style="float:left;padding-right:10px;text-align:center">
  <%=link_to image_tag('logos/behance.png', :size=>'70x70'), 'http://www.behance.net/thinkingwithtype', :target=>'_blank', :class=>'green_links small_text'%> 
  <br />
  <%=link_to '[behance]', 'http://www.behance.net/thinkingwithtype', :target=>'_blank', :class=>'green_links small_text'%> 
</div>
<div style="float:left;padding-right:10px;text-align:center">
  <%=image_tag  'portfolio3.jpg', :size=>'70x70' %>
  <br />
  <%=link_to '[link]', 'http://www.google.com', :target=>'_blank', :class=>'green_links small_text'%> <br />
</div>
-->
<div class='clear'></div>
<br />
<br />
<%=link_to raw('&raquo; view full profile'), "/expert/1/james_mcnaught", :class=>'green_links' %>
