<h3 style='margin-top: 0'>Stephen Grace</h3>
2 reviews <br />
49 hour average turnaround time <br />
<br />
<h5>Profile</h5> 
xx
<br />
<br />
<h5>Links</h5> 

<div style="float:left;padding-right:10px;text-align:center">
  <%=link_to image_tag('logos/homepage.png', :size=>'70x70'), 'http://www.nephets.com/', :target=>'_blank', :class=>'green_links small_text'%> 
  <br />
  <%=link_to '[homepage]', 'http://www.nephets.com/', :target=>'_blank', :class=>'green_links small_text'%> <br />
</div>
<div style="float:left;padding-right:10px;text-align:center">
  <%=link_to image_tag('logos/dribbble.png', :size=>'70x70'), 'http://dribbble.com/nephets', :target=>'_blank', :class=>'green_links small_text'%> 
  <br />
  <%=link_to '[dribbble]', 'http://dribbble.com/nephets', :target=>'_blank', :class=>'green_links small_text'%> 
</div>
<!--
<div style="float:left;padding-right:10px;text-align:center">
  <%=image_tag  'portfolio3.jpg', :size=>'70x70' %>
  <br />
  <%=link_to '[link]', 'http://www.google.com', :target=>'_blank', :class=>'green_links small_text'%> <br />
</div>
-->
<div class='clear'></div>
<br />
<br />
<%=link_to raw('&raquo; view full profile'), "/expert/1/james_mcnaught", :class=>'green_links' %>
